[bumpversion]
commit = False
tag = False
current_version = 0.2.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = _
first_value = _
values = 
	_
	rc
	_

[bumpversion:part:build]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:mdfluence/__init__.py]

[bumpversion:file:CHANGELOG.md]
search = Unreleased
replace = {new_version} - {now:%Y-%m-%d}
